<div class="main-wrapper">

    <div class="container" @slideInFromRight>
        <form [formGroup]="form">
    
            <div class="containt">
                
                <div class="block-1">
    
                    <div class="form-field1">
    
                        <div class="field-1-block-1">
                            <label class="label1" for="">Welcome! Let's create your profile</label>
                            <label class="label2" for="">Let other get to know you better!</label>
                        </div>
    
                    </div>
            
                    <div class="form-field2">
    
                        <div class="field-2-block-1">
    
                            <label class="label3" for="">Add an avatar</label>
                            <div class="avatar-containt">
                            <div class="profile-img">
                               <!-- <img class="this-img" src="assets/Images/default-profile-1.png" alt=""> -->
                                <img [src]="selectedImage"
                                alt="Selected Image"
                                class="this-img">
        
                                <div class="camera-icon">
                                    <i class="fa fa-camera"></i>
                                </div>
                            </div>
                            <div class="img-btn">
                                <button class="img-selector" (click)="triggerFileInput()">Choose Image</button>
                                <input
                                #fileInput
                                type="file"
                                (change)="onFileSelected($event)"
                                accept="image/*"
                                style="display: none;"/>
            
                                <label class="label4" for="">Or choose our default image</label>
                            </div>
                        </div>
                        </div>
            
                    </div>
            
                    <div class="form-field3">
    
    
                        <div class="field-3-block-1">
                            <label class="label-location" for="">Add your location </label>
            
                        <div class="location-input-field">
                            <input class="input-location" type="text" placeholder="E.g country / city" formControlName="inputField"
                            >
                            <hr class="hr-input">
                        </div>
                        
                        </div>
                        
                    </div>
            
                    <div class="form-field4">
                        <button  [disabled]="form.get('inputField')?.invalid " (click)="onSubmit()" class="btn-continue">Continue</button>
                    </div>
                </div>
        
        
            </div>
        
        </form>
    </div>
    
    </div>