



<div class="post-detail-layout">

    <!-- LEFT -->


   <div class="detail-top-section">


     <div class="wider-img-container">

        <!-- your detail card -->

        <div class="top-bar">

            <div class="more-btn">

                <button (click)="toggleLike(post)">
                    <i
                        class="bi"
                        [ngClass]="post?.liked ? 'bi-heart-fill' : 'bi-heart'">
                    </i>
                      {{post?.likesCount}}
                </button>

                <button>
                    <i class="bi bi-chat"></i>
                </button>

                <button (click)="toggleShareModal()">
                    <i class="bi bi-upload"></i>
                </button>

                <button>
                    <i class="bi bi-three-dots"></i>
                </button>

            </div>

            <button 
                   class="save-btn"
                   (click)="toggleSave(post)"
                   [ngClass]="{'saved-post-btn': post.saved}">  
                   {{post.saved ? 'Saved' : 'Save'}}
            </button>

        </div>


        <!-- IMAGE -->
        <div class="main-image">

            <img [src]="post?.imageUrl">

        </div>


        <!-- USER -->
        <div class="user-section">

            <div class="user-avatar">

                 <img
                 class="profileImage"
                        [src]="profileImage"
                        alt="profileImage">


            </div>

            <div class="username-container">
                <h4>  {{postUser?.userName}} </h4>
            </div>

        </div>

        <!--- Comment Section 

        <div class="comment-section">

            <h4>2 Comments</h4>

            <div class="comment">

                <strong>Mayurrrrr</strong>
                Dammmm..!

            </div>

            



         <div class="comment-input-box">

            <input
              type="text"
              placeholder="Add a comment">

        </div>

        </div> -->

        <div class="comment-wrapper">

    <!-- HEADER -->
    <div class="comment-header"
         (click)="toggleComments()">

        <h4>
            {{comments.length}} Comments
        </h4>

        <button class="toggle-btn">

            <i
              class="bi"
              [ngClass]="commentsExpanded
              ? 'bi-chevron-up'
              : 'bi-chevron-down'">

            </i>

        </button>

    </div>


    <!-- COMMENTS BODY -->
    <div
      class="comments-body"
      *ngIf="commentsExpanded">

        <!-- SINGLE COMMENT -->
        <div
          class="single-comment"
          *ngFor="let comment of comments">

            <!-- AVATAR -->
            <div class="comment-avatar">
                <img
                    [src]="comment?.user?.imageUrl"
                    alt="profile">

            </div>


            <!-- COMMENT CONTENT -->
            <div class="comment-content">

                <div class="comment-text">

                    <strong>
                        {{comment.user.userName}}
                    </strong>

                    {{comment.text}}

                </div>


                <!-- COMMENT ACTIONS -->
                <div class="comment-actions">

                    <span>
                        2d
                    </span>

                    <button class="comment-reply-btn">
                        Reply
                    </button>

                    <button class="comment-like-btn">
                        <i class="bi bi-heart"></i>
                    </button>

                </div>

            </div>

        </div>

    </div>


    <!-- INPUT -->
    <div class="comment-input-box">

    <input

      [(ngModel)]="commentText"

      type="text"

      placeholder="Add a comment">


    <!-- RIGHT SIDE ICONS -->
    <div class="comment-actions-right">

        <button
          class="send-btn"

          (click)="saveComment(post.id)">

            <i class="bi bi-send-fill"></i>

        </button>

    </div>

</div>

</div>


        
    </div>


    
   </div>

    


    <!-- RIGHT -->
    <div class="related-posts">

        <div class="pin-card" *ngFor="let related of relatedPosts">
             <img [src]="related?.imageUrl" 
             style=" width:100%; transform-style: preserve-3d; border-radius: 3vh; " 
             (click)="postView(related?.id)" > 
             
             
             <!-- Overlay --> 
              <div class="pin-overlay"> 
                
                <!-- Top --> 
                 
                <div class="top-actions">
                    
                   <button 
                   class="save-btn"
                   (click)="toggleSave(related)"
                   [ngClass]="{ 'saved-post-btn': related.saved}">
                   
                 {{related.saved ? 'Saved' : 'Save'}}

                   </button>
                    
                    </div> 
                    
                    <!-- Bottom --> 
                     
                    <div class="bottom-actions">
                        
                        <button class="icon-btn">
                            
                            <i class="bi bi-upload"></i> 
                        
                        </button>
                        
                        <button class="icon-btn" (click)="toggleMoreMenu(related.id)"> 
                            <i class="bi bi-three-dots"></i> 
                        </button> </div> </div> 
                    
                    </div> 

    </div>

</div>


<!-- -------------------------- upload modal ---------------------->


<div
  class="share-modal-overlay"
  *ngIf="showShareModal"
  (click)="toggleShareModal()">

  <div
    class="share-modal"
    (click)="$event.stopPropagation()">

    <h3>Share</h3>

    <div class="share-options">

      <!-- Copy Link -->
      <button 
        class="copy-share"
        (click)="copyLink()">
        <i class="bi bi-link-45deg"></i>
        <span>Copy Link</span>
      </button>

      <!-- WhatsApp -->
      <a
         class="whatsapp-share"
        [href]="whatsappShareUrl"
        target="_blank">

        <i class="bi bi-whatsapp"></i>
        <span>WhatsApp</span>

      </a>

      <!-- Facebook -->
      <a
        class="facebook-share"
        [href]="facebookShareUrl"
        target="_blank">

        <i class="bi bi-facebook"></i>
        <span>Facebook</span>

      </a>

      <!-- Twitter -->
      <a
        
        class="twitter-share"
        [href]="twitterShareUrl"
        target="_blank">

        <i class="bi bi-twitter-x"></i>
        <span>X</span>

      </a>

    </div>

  </div>

</div>