






        <!-- ----------------------------------------   Profile page -------------------------------------------------->

<!-- Show a loading spinner or message while data is being fetched -->
 <!-- Loader Overlay -->
 <div class="loader-overlay" *ngIf="isLoading">
    <div class="loader-container">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>
  </div>
  
 

  <div class="main-container">


     <div class="profile-container">
      <!-- Profile Header -->
      <div class="profile-header">
        <img [src]="imageUrl"  alt="User Profile" class="profile-image" />
        
        <div class="user-profile-detail-block-1">
          <h1 class="username">{{ Firstname }}</h1>
          <p class="user-role">Full-Stack Developer</p>
          <p class="address">
            <i class="fa-solid fa-location-dot"></i> {{ Location }}
          </p>
        </div>
      </div>
    
      <!-- Action Buttons -->
      <div class="action-buttons">
        
        <div class="action-buttons-block-1">
  
          <button class="edit-btn" [routerLink]="['/user/account']">
            <i class="bi bi-pencil"></i>
            Edit profile
          </button>

          <button class="share-btn" routerLink="/share">
            <i class="bi bi-upload"></i>
            Share profile
          </button>
        </div>
       
      </div>
    
  
    </div>
  
  
    <!---------------------------------------------------- Work -------------------------------------------->
  
    <section class="work-block">
  
      <div class="work-block-field-1">

        <a class="tab-btn" [routerLink]="['/user/profile',currentUser?.id]">Created</a>

        <a class="tab-btn active-tab">Saved</a>

      </div>


      <!------------------------ collection container --------------------------->

      <!-- COLLECTION SECTION -->
<div class="collection-wrapper">

    <!-- CREATE COLLECTION BUTTON -->
   


    <!-- COLLECTION CARD -->
    <div class="collection-card">

        <!-- PREVIEW GRID -->
        <div class="collection-preview">

            <div class="big-preview"></div>

            <div class="small-preview-group">

                <div class="small-preview"></div>

                <div class="small-preview"></div>

            </div>


            <!-- Overlay -->
              <div class="pin-overlay-collection">

                      <!-- Top -->
                      <div class="top-actions-collection">

                            <button class="collection-btn">
                            Create
                            </button>

                      </div>


              </div>


            

        </div>


        <!-- TEXT -->
        <div class="collection-info">

            <h3>Create collection</h3>

        </div>

    </div>

</div>


  
      

      <!------------------------ feed container------------------------->
  
      <div class="feed-container">

           <div class="pin-card" *ngFor="let post of savedPosts">

              <img
               [src]="post.imageUrl"
              style=" width:100%; transform-style: preserve-3d; border-radius: 3vh;  "
              (click)="postView(post?.id)">

              <!-- Overlay -->
              <div class="pin-overlay">

                      <!-- Top -->
                      <div class="top-actions">

            <button 
                   class="save-btn"
                   (click)="toggleSave(post)"
                   [ngClass]="{'saved-post-btn': post.saved}">
                 {{post.saved ? 'Saved' : 'Save'}}

            </button>


                      </div>

                    <!-- Bottom -->
                  <div class="bottom-actions">

                    <button class="icon-btn">
                        <i class="bi bi-upload"></i>
                    </button>

                     <button class="icon-btn"  (click)="toggleMoreMenu(post?.id)">
                        <i class="bi bi-three-dots"></i>
                      </button>

                  </div>


              </div>


              <div class="moreActions-container" *ngIf="openedMenuPostId === post?.id">
  

                    <div class="more-block-1">

                      <label>
                        This post was inspired by your recent activity
                      </label>

                    </div>

                    <div class="more-block-2">

                      <button> 

                        <i class="bi bi-heart"></i>
                        See more like this
                      </button>

                      <button>
                        <i class="bi bi-eye-slash"></i>
                        See less like this
                      </button>

                      <button>
                        <i class="bi bi-download"></i>
                        Download image
                      </button>

                      <button>
                        <i class="bi bi-ban"></i>
                        Report post
                      </button>

                    </div>

              </div>


            </div>

        </div>
    </section>

    
  </div>
  
    
  
  
  
   