/* Main Content Area */
.content {
  margin-top: 67px;
  padding-top: 20px;
  }
  .notification-bar {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 16px;
    height: 6vh;
    color: white;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    flex-direction: row; /* Default row layout */
  }
  
  .notification-bar h1 {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  
  .notification-bar a {
    color: white;
    text-decoration: underline;
  }
  
  .cross-btn {
    position: absolute;
    right: 16px;
  }
  
  .cross-btn button {
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .cross-btn button:hover {
    color: gray; /* Add hover effect */
  }

  @media only screen and (max-width: 1203px){
    .content {
      margin-top: 0;
      padding: 20px 0px;
      }
  }
  
  @media only screen and (max-width: 768px) { /* Adjust for smaller screens */
    .notification-bar {
      height: auto; /* Allow height to adjust based on content */
      padding: 16px; /* Add padding for spacing */
    }
  
    .notification-bar h1 {
      font-size: 14px; /* Reduce font size on smaller screens */
      line-height: 18px;
      margin-bottom: 8px; /* Space between text and the link */
    }
  
    .notification-bar a {
      font-size: 14px; /* Slightly increase the size of the link */
    }
  
    .cross-btn {
      position: relative; /* Adjust position for smaller screens */
      right: unset; /* Remove absolute positioning */
    }
  }

  @media only screen and (max-width: 647px){
    .notification-bar h1 {
      margin: 0;
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
    }
    
    .notification-bar a {
      color: white;
      text-decoration: underline;
      font-size: 15px;
    }
  }