        /* ======================================================= Login Form ======================================== */



        .container-2{
          display: flex;
          flex-direction: row;
          justify-content: center;
          }



          .form-container {
            width: 100%;
            height: 100vh; /* Full viewport height */
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .signin-form-field{
            width: 100%;
            height: 100%;
          }
          
          
          

          .label-container{
            display: flex;
            flex-direction: column;
            padding: 1vh;
            margin-bottom: 7vh;

          }

          .my-web-logo{
            font-family: "Meddon", cursive;
            font-size: 25px;
            color: black;
            font-weight: 600;
          }
          
          
          
          .signin-form {
            position: relative;
            z-index: 3; 
            background-color: rgba(255, 255, 255, 255); /* Semi-transparent white */
            padding: 20px;
            border-radius: 8px;
            width: 100%; 
           }
          
          
          
          .signin-title{
            font: bold 35px / 29px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            margin-bottom: 4vh;
            padding-left: 4vh;
            font-size: 7vh;
          }
          
          
          .field-container{
            display: flex;
          flex-direction: row-reverse;
          justify-content: center;

          }
          .social-buttons {
            padding-top: 25px;
            padding-left: 0;
            padding-right: 0;
          }
          
          .justify-content-center {
            justify-content: center !important;
            display: flex;
            flex-direction: column;
          }
          
          
          .google-btn,
          .facebook-btn {
            width: 26rem;
            max-width: 100rem;
            height: 8vh;
            background-color: white;
            padding: 6px;
            cursor: pointer;
            border-radius: 1vh;
            border: 1px solid #0000006e;
            flex-direction: row;
            justify-content: center;
          }
          
          .google-btn:hover,
          .facebook-btn:hover {
            border-color: #12161852;
          }
          
          .google-img,
          .facebook-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 5px;
            margin-right: 10px; /* Adds spacing between the image and text */
          }
          
          .social-btn-name-g,
          .social-btn-name-f {
            font-size: 14px;
            color: black;
          }
          
        
          
          .separator {
            width: 1px;
            margin-left: 45px;
            margin-right: 45px;
           border: 1px solid black;
           background-color: #e7e7e9;
   
        }
        
        .separator::after {
          content: "or";
          position: absolute;
          top: 58%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #fff;
          font: normal 14px / 14px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
          padding-bottom: 15px;
          padding-top: 15px;
        }
          
          .form-field{
          
              display: grid;
              margin-bottom: 18px;
          }
          
          .form-email{
          
            width: 420px;
              padding: 15px;
              border-radius: 10px;
              border-color:rgba(0, 0, 0, 0.142);
          }
          
          .form-password{
          
              width: 420px;
              padding: 15px;
              border-radius: 10px;
              border-color: rgba(0, 0, 0, 0.142);
          
          }
          
          .hidden-form-label{
              font:bold 15px/24px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
          }
          
          
          .form-email:hover{
          
            border-color: #12161852;
          
          }
          
          .form-password:hover{
          
            border-color:  #12161852;
          
          }
          
          
          
          .signin-email-btn{
          
            width: 420px;
            display: ruby-text;
            background-color:black;
            padding: 11px;
            cursor: pointer;
            border-radius: 100px;
            border-color: #0000001f;
            height: 60px;
          
          }
          
          .signin-email-btn:hover{
              background-color: #3d3d4e;
          }
          
          .signin-email-btn-this{
              font-family: inherit;
              font-size: 16px;
              color: white;
          
          }
          
          .signin-email-btn:hover{
            border-color: #3d3d4e50;
          }
          
           /* Disabled button styles */
           .signin-email-btn:disabled {
            background-color: #cccccc; /* Light gray background */
            color: #666666; /* Dim text color */
            cursor: not-allowed; /* Disabled cursor */
            opacity: 0.6; /* Reduce opacity */
            border: 1px solid #99999929; /* Optional border */
          }
          
          
          
          
          .underline1{
            color: #0b0c22;
            text-decoration: underline;
            cursor: pointer;
          
          }
          
          .term-policy-2{
          
            margin-bottom: 20px;
            color: #3d3d4e;
            font: normal 17px / 20px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            margin-left: 4vh;
          
          }
          
          .underline2{
            text-decoration: underline;
            cursor: pointer;
          
          }

          .private-policy-field{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 4vh;
            margin-left: 4vh;
          }


           
          .user-agree-to-terms2{
            text-align: center;
            font-size: 14px;
            margin-top: 20px;
            color: #00000094;
          
          }
          .user-agree-to-terms3 {
            text-align: center;
            font-size: 13px;
            margin-top: 20px;
            width: 30%;
            color: #0000008a;
        
          }
          
          .underline-hidden-terms {
            color: black;
            text-decoration: underline;
            cursor: pointer;
          }
          
          .underline1 {
            text-decoration: underline;
            cursor: pointer;
          }
          
          
          /*-------------------------------------------- loader -------------------------------------------------*/
          
          
          
          /* Loader Overlay Styles */
          .loader-overlay {
            position: fixed; /* Fixed to cover the whole screen */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000; /* Higher than other elements */
          }
          
          /* Loader Container Styles */
          .loader-container {
            width: 300px;
            padding: 20px;
            background-color: white;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
          }
          
          
          
          
/*---------------------------------------------------- Responsive Styles--------------------------------*/
          
        
          
          
          @media only screen and (max-width:999px) {
          

            .field-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
          }

          .justify-content-center{
            /* justify-content: center; */
            display: flex;
            flex-direction: row;
            align-content: center;
        }

        #google{
          display: flex;
          flex-direction: column;
          align-items: center;
          }

          .social-buttons {
            padding-top: 25px;
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .separator {
          width: 30%;
          height: 1px;
          margin: 30px 0;
          background-color: #000000c9;
          position: relative;
          border: none;
      
      }
      
      .separator::after {
        content: "or";
    position: absolute; /* Ensure it positions relative to .separator */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Perfect centering */
    background: #fff; /* Background to make text visible */
    font-size: 16px; /* Increase font size */
    font-weight: bold; /* Make it bolder */
    color: #292830; /* Dark text for better visibility */
    padding: 0 10px;
      }


      /* Style for the scrollable container */
       .form-container{
        overflow-y: auto; /* Enables vertical scrolling */
        border: 1px solid #ccc; /* Just for visualization */
        padding: 10px;
      }
        

      .user-agree-to-terms3{
        text-align: center;
        font-size: 13px;
        margin-top: 20px;
        width: 30%;
        color: #0000008a;
        width: 40%;
    }

    .private-policy-field{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 4vh;
      margin-left: 0; 
  }

            
          }
          
    
          
          @media only screen and (max-width:441px) {
          
            .social-buttons {
              padding-top: 30px;
              display: flex;
              flex-direction: column;
              align-items: center;
           }
              
              
              .google-btn{
                width: 23rem;
                display: ruby-text;
                background-color: white;
                padding: 6px;
                cursor: pointer;
                border: 1px solid #0000006e;
              }
            
              .google-btn:hover{
                border-color:  #12161852;
              }
            
              
            
              
            
              .social-btn-2{
                padding-top: 15px;
              }
              
              
              .google-img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 5px;
              }
            
            
              .facebook-img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 5px;
              }
              
             
            
              .social-btn-name-g{
                font-size: 14px;
                padding-top: 10px;
                color: black;
              }
            
              .social-btn-name-f{
                font-size: 14px;
                padding-top: 14px;
                color: black;
              }
            
            
            .seprator{
              height: 1px;
                margin: 30px 0;
                padding: 0;
                overflow: visible;
                background-color: #e7e7e9;
                color: #292830;
                text-align: center;
                width: 22rem;
          
            }
            
            .seprator::after{
              content: 'or';
                position: relative;
                top: -15px;
                padding: 0 16px;
                background: #fff;
                font: normal 14px / 14px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            
            .form-field{
            
              display: flex;
              flex-direction: column;
              margin-bottom: 18px;
            }
            
            .form-email{
            
              width: 23rem;
                padding: 15px;
                border-radius: 10px;
                border-color:rgba(0, 0, 0, 0.142);
            }
            
            .form-password{
            
                width: 23rem;
                padding: 15px;
                border-radius: 10px;
                border-color: rgba(0, 0, 0, 0.142);
            
            }
            
            .hidden-form-label{
                font:bold 15px/24px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            
            
            .form-email:hover{
            
              border-color: #12161852;
            
            }
            
            .form-password:hover{
            
              border-color:  #12161852;
            
            }
            
            
            
            .signin-email-btn{
            
              width: 23rem;
              display: ruby-text;
              background-color:black;
              padding: 11px;
              cursor: pointer;
              border-radius: 100px;
              border-color: #0000001f;
              height: 60px;
            
            }
            
            .signin-email-btn:hover{
                background-color: #3d3d4e;
            }
            
            .signin-email-btn-this{
                font-family: inherit;
                font-size: 16px;
                color: white;
            
            }
            
            .signin-email-btn:hover{
              border-color: #3d3d4e50;
            }
            
            
            
            
            .underline1{
              color: #0b0c22;
              text-decoration: underline;
              cursor: pointer;
            
            }
          
            
            
            .term-policy-2{
            
              margin: 20px 0 0;
              color: #3d3d4e;
              font: normal 14px / 20px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
              text-align: center;
            
            }
            
            .underline2{
              color: #0b0c22;
              text-decoration: underline;
              cursor: pointer;
            
            }

            .user-agree-to-terms3{
              text-align: center;
              font-size: 13px;
              margin-top: 20px;
              width: 30%;
              color: #0000008a;
              width: 100%;
          }
          
          }
          
          
          @media only screen and (max-width:387px){
        
            
            .signin-title{
              font: bold 22px / 29px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-size: 6vh;
            }
            
            
            
            
            .social-buttons {
              padding-top: 30px;
              display: flex;
              flex-direction: column;
              align-items: center;
           }
              
              
              .google-btn{
                width: 20rem;
                height: 9vh;
                display: ruby-text;
                background-color: white;
                padding: 6px;
                cursor: pointer;
                border-radius: 100px;
                border: 1px solid #0000006e;
              }
            
              .google-btn:hover{
                border-color:  #12161852;
              }
            
              
            
              .facebook-btn{
                width: 20rem;
                height: 9vh;
                display: ruby-text;
                background-color: white;
                padding: 4px;
                cursor: pointer;
                border-radius: 100px;
                border: 1px solid #0000006e;
              }
            
              .facebook-btn:hover{
                border-color:  #12161852;
            
              }
            
              .social-btn-2{
                padding-top: 15px;
              }
              
              
              .google-img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 5px;
              }
            
            
              .facebook-img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 5px;
              }
              
             
            
              .social-btn-name-g{
                font-size: 14px;
                padding-top: 10px;
                color: black;
              }
            
              .social-btn-name-f{
                font-size: 14px;
                padding-top: 14px;
                color: black;
              }
            
            
            .seprator{
              height: 1px;
                margin: 30px 0;
                padding: 0;
                overflow: visible;
                background-color: #e7e7e9;
                color: #292830;
                text-align: center;
                width: 19rem;
            }
            
            .seprator::after{
              content: 'or';
                position: relative;
                top: -15px;
                padding: 0 16px;
                background: #fff;
                font: normal 14px / 14px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                
            }
            
            .form-field{
            
              display: flex;
              flex-direction: column;
              margin-bottom: 18px;
            }
            
            .form-email{
            
              width: 20rem;
                padding: 15px;
                border-radius: 10px;
                border-color:rgba(0, 0, 0, 0.142);
            }
            
            .form-password{
            
                width: 20rem;
                padding: 15px;
                border-radius: 10px;
                border-color: rgba(0, 0, 0, 0.142);
            
            }
            
            .hidden-form-label{
                font:bold 15px/24px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            
            
            .form-email:hover{
            
              border-color: #12161852;
            
            }
            
            .form-password:hover{
            
              border-color:  #12161852;
            
            }
            
            
            
            .signin-email-btn{
            
              width: 20rem;
              display: ruby-text;
              background-color:black;
              padding: 11px;
              cursor: pointer;
              border-radius: 100px;
              border-color: #0000001f;
              height: 60px;
            
            }
            
            .signin-email-btn:hover{
                background-color: #3d3d4e;
            }
            
            .signin-email-btn-this{
                font-family: inherit;
                font-size: 16px;
                color: white;
            
            }
            
            .signin-email-btn:hover{
              border-color: #3d3d4e50;
            }
            
            
            
            
            .underline1{
              color: #0b0c22;
              text-decoration: underline;
              cursor: pointer;
            
            }
            
            .term-policy-2{
            
              margin: 20px 0 0;
              color: #3d3d4e;
              font: normal 14px / 20px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
              text-align: center;
            
            }
            
            .underline2{
              color: #0b0c22;
              text-decoration: underline;
              cursor: pointer;
            
            }
          
          
          
          }
          
          
          @media only screen and (max-width:341px){
          
          
            
            /*.signin-form {
              z-index: 3;
              background-color: rgba(255, 255, 255, 255);
              padding: 20px;
              border-radius: 8px;
              width: 460px;
              display: flex;
              flex-direction: column;
              align-items: center;
            }*/
            
            
            
            .signin-title{
              font: bold 22px / 29px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
              margin-bottom: 0;
              font-size: 6vh;
            }
            
            
            
            
            .social-buttons {
              padding-top: 30px;
              display: flex;
              flex-direction: column;
              align-items: center;
           }
              
              
              .google-btn{
                width: 17rem;
                height: 8vh;
                display: ruby-text;
                background-color: white;
                padding: 6px;
                cursor: pointer;
                border-radius: 100px;
                border: 1px solid #0000006e; 
              }
            
              .google-btn:hover{
                border-color:  #12161852;
              }
            
              
            
              .facebook-btn{
                width: 17rem;
                height: 8vh;
                display: ruby-text;
                background-color: white;
                padding: 4px;
                cursor: pointer;
                border-radius: 100px;
                border: 1px solid #0000006e; 
               }
            
              .facebook-btn:hover{
                border-color:  #12161852;
            
              }
            
              .social-btn-2{
                padding-top: 15px;
              }
              
              
              .google-img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 5px;
              }
            
            
              .facebook-img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 5px;
              }
              
             
            
              .social-btn-name-g{
                font-size: 14px;
                padding-top: 0;
                color: black;
              }
            
              .social-btn-name-f{
                font-size: 14px;
                padding-top: 0;
                color: black;
              }
            
            
            .seprator{
              height: 1px;
                margin: 30px 0;
                padding: 0;
                overflow: visible;
                background-color: #e7e7e9;
                color: #292830;
                text-align: center;
                width: 16rem;
          
            }
            
            .seprator::after{
              content: 'or';
                position: relative;
                top: -15px;
                padding: 0 16px;
                background: #fff;
                font: normal 14px / 14px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            
            .form-field{
            
              display: flex;
              flex-direction: column;
              margin-bottom: 18px;
            }
            
            .form-email{
            
              width: 17rem;
                padding: 15px;
                border-radius: 10px;
                border-color:rgba(0, 0, 0, 0.142);
            }
            
            .form-password{
            
                width: 17rem;
                padding: 15px;
                border-radius: 10px;
                border-color: rgba(0, 0, 0, 0.142);
            
            }
            
            .hidden-form-label{
                font:bold 15px/24px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            
            
            .form-email:hover{
            
              border-color: #12161852;
            
            }
            
            .form-password:hover{
            
              border-color:  #12161852;
            
            }
            
            
            
            .signin-email-btn{
            
              width: 17rem;
              display: ruby-text;
              background-color:black;
              padding: 11px;
              cursor: pointer;
              border-radius: 100px;
              border-color: #0000001f;
              height: 9vh;
            
            }
            
            .signin-email-btn:hover{
                background-color: #3d3d4e;
            }
            
            .signin-email-btn-this{
                font-family: inherit;
                font-size: 16px;
                color: white;
            
            }
            
            .signin-email-btn:hover{
              border-color: #3d3d4e50;
            }
            
            
            
            
            .underline1{
              color: #0b0c22;
              text-decoration: underline;
              cursor: pointer;
            
            }
            
            .term-policy-2{
            
              margin: 20px 0 0;
              color: #3d3d4e;
              font: normal 14px / 20px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
              text-align: center;
            
            }
            
            .underline2{
              color: #0b0c22;
              text-decoration: underline;
              cursor: pointer;
            
            }
          
          
          
          }