
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
<div class="container">
  

    <!-- =============================================  Header ===============================================  -->



   <!-- Add the visible class to show the header when it should appear -->



     
  
  
    <!-- =============================================  Get sterted ===============================================  -->
  
  
     <div class="get-start">
  
            <div class="get-start-containt">
                    <div class="get-labels-field">
                      <label id="quote1">Turn Ideas into Visual Stories. Discover, Save, Create.</label>
    
                      <h2 class="quote2">Explore creativity from people who love to share ideas. 
                 Dive into a world of ideas, curated by creators like you.</h2>
    
                    </div>
                
    
    
                      <div class="search-field">
                
                          <form action="" class="search-form">
              
                              <div class="search-container">
                                  <div class="input-wrapper" style="position: relative;">
                                      <input #searchField type="text" aria-invalid="false" name="search-input" placeholder="Search for anything" autocomplete="off" [(ngModel)]="searchText" (ngModelChange)="onInputChange()" value="" role="combobox" aria-autocomplete="both" aria-haspopup="true" aria-expanded="false" aria-controls="u93-search-form-autocomplete--4-menu-content-items"  class="search-input" style="padding-right: 90px;">
  
                                      <button type="button" class="clear-button btn-2" onclick="document.querySelector('.search-input').value = ''"  *ngIf="searchText" (click)="clearSearch()" >
                                          <i class="fas fa-times"></i> <!-- Font Awesome Clear Icon -->
                                      </button>
                                      <button class="search-button btn-1" >
                                        <i class="fas fa-search"></i> <!-- Font Awesome Search Icon -->
                                    </button>
                                  </div>
                              </div>
                          </form>
  
                          
                    </div>
  
        
  
  
  
            </div>
  
      </div>  



      <!-------------------------------------------------- template ------------------------------------------>


      <section class="work-block">

        <div class="work-block-field-1">
          <div class="work-block-field-1-suggestion-list-1">
            <button class="popular-btn" > Popular </button>
          </div>
          
          <div class="slider-container">
            <button class="slider-btn prev-btn" (click)="scrollLeft()">&#10094;</button>
          
            <div class="slider-wrapper">
              <div class="slider">
                <button class="collection-list-btn">Discover</button>
                <button class="collection-list-btn" *ngFor="let item of suggestions">{{ item }}</button>
              </div>
            </div>
          
            <button class="slider-btn next-btn" (click)="scrollRight()">&#10095;</button>
          </div>
          
        </div>
    
        
    
        


      </section>
    
      
    
  
  
      <!-- =============================================  Adertise ===============================================  -->
  
  
  
      <div class="advertise">
          <h1 class="adv-content1">And it's all free with Portgenix</h1>
          <h2 class="adv-content2">Enjoy access to stunning templates and powerful customization tools, 
              all included at no cost.</h2>

              <div class="adv-btn-form">
                <button class="adv-btn">
                  Help Me Choose
                </button>
            </div>
      </div>
  
  
  
   
</div>