.otp-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.otp-image {
  text-align: center;
  max-width: 90vh;
}

.otp-image img {
  max-width: 87%;
  height: auto;
}

.otp-form-container {
  flex: 1;
  max-width: 400px;
  padding: 20px;
}

.otp-form-container h2 {
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}


.otp-rsd-label{

  margin-top:2vh;
  margin-bottom:2vh;

}


.resend-otp {
  margin-top: 15px;
  text-align: center;
}

.resend-otp button {
  background-color: #f45b5b;
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.resend-otp button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.otp-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.otp-container input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #dfe6e9;
  border-radius: 5px;
  outline: none; /* ✅ removes black outline */
}

.otp-container input:focus {
  border-color: #f45b5b83; /* Optional: adds a green border on focus */
  box-shadow: none; /* Removes default shadow */
}


button {
  width: 100%;
  padding: 12px;
  background-color: #F45B5B;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}



button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
