/* Profile Container */
.profile-container {
    width: 80%;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
    }
    
    /* Profile Header */
    .profile-header {
      text-align: center;
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      gap: 3vh;
    }
    
    .profile-image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 15px;
      border: 3px solid #e6e6e6;
    }
  
    .user-profile-detail-block-1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: start;
    }
    
    .username {
      font-size: 4vh;
      font-weight: 600;
      color: #333;
      margin-bottom: 1vh;
    }
    
    .user-role {
      font-size: 16px;
      color: #212121eb;
      margin-bottom: 10px;
      font-family: system-ui;
    }
    
    .address {
      font-size: 14px;
      color: #706f6f;
    }
    
    /* Action Buttons */
  
    .action-buttons-block-1{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  
    .action-buttons {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-bottom: 40px;
    }
    
    .action-buttons button {
      border: 1px solid #ccc;
      font-size: 14px;
      font-weight: 600;
      border-radius: 1vh;
      width: 16vh;
      height: 6vh;
      cursor: pointer;
      text-align: center;
      transition: all 0.3s ease;
    }
    
    .edit-btn{
      background-color: white;
      color: black;
    }
  
    .delete-btn{
      background-color: white;
      color: black;
    }
  
    .edit-btn:hover{
      background-color: #00000029;
      border:none;
    }
  
    .delete-btn:hover{
      background-color:#00000029;
      border: none;
    }
  
  
    
  /* ------------------------------------------- work block ---------------------------------------*/ 
  
  .work-block{
    width: 80%;
      height: auto;
      margin: 0 auto;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background: white;
      padding: 30px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: start;
  }
  
  .work-block-field-1{
    display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 2vh;
  }
  
  .work-btn{
    border: none;
      width: 15vh;
      height: 5vh;
      border-radius: 1vh;
      background-color: #00000024;
      font-family: system-ui;
      font-size: 17px;
      font-weight: 640;
      text-align: center;
      transition: all 0.60s ease;
  }
  
  .collection-btn{
    border: none;
      width: 15vh;
      height: 5vh;
      border-radius: 1vh;
      background-color: white;
      font-family: system-ui;
      font-size: 17px;
      font-weight: 640;
      text-align: center;
      transition: all 0.60s ease;
  }
  
  .work-btn:hover{
    background-color: #00000024;
  
  }
  
  .collection-btn:hover{
    background-color: #00000024;
  }
  
  
  
  .work-block-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
  }
  
  .work-item-placeholder-common {
    background-color: #fff;
    width: -webkit-fill-available;
    height: 13rem;
    border: 1px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .work-item-placeholder-common:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.10);
  }
  
  .placeholder-title-common {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .placeholder-description-common {
    font-size: 14px;
    color: #666;
  }
  
  
  .work-item-placeholder {
    background-color: rgb(0 0 0 / 2%);
      width: -webkit-fill-available;
      height: 13rem;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      position: relative;
      overflow: hidden;
    }
  
    .work-item-placeholder::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(to top, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 10%) 100%);
      pointer-events: none;
    }
  
  
  .placeholder-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .placeholder-description {
    font-size: 14px;
    color: #666;
  }
    
    
    

  
  
                   /*------------------------------------- Responsive ------------------------------------*/
  
  
  @media only screen and (max-width:2560px){
    .action-buttons button {
      border: 1px solid #ccc;
      font-size: 14px;
      font-weight: 600;
      border-radius: 1vh;
      width: 19vh;
      height: 6vh;
      cursor: pointer;
      text-align: center;
      transition: all 0.3s ease;
  }
  
  
  }
  @media only screen and (max-width:1440px){
    .action-buttons button {
      border: 1px solid #ccc;
      font-size: 14px;
      font-weight: 600;
      border-radius: 1vh;
      width: 18vh;
      height: 6vh;
      cursor: pointer;
      text-align: center;
      transition: all 0.3s ease;
  }
  
  .work-block {
    width: -webkit-fill-available;
    height: auto;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .work-block-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
    width: -webkit-fill-available;
  }
  
  .work-item-placeholder {
    background-color: rgb(0 0 0 / 2%);
    width: -webkit-fill-available;
    height: 13rem;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  
  }

  @media only screen and (max-width:1202px){

    .profile-container{
      margin-top: 0;
    }

  }
  
  @media only screen and (max-width:1019px){
    .work-block-items{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      padding: 10px;
      width: -webkit-fill-available;
  }
  }
  
  @media only screen and (max-width:600px){
    .work-block-items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      padding: 10px;
      width: -webkit-fill-available;
      justify-items: center;
  }
  }
  
  
  @media only screen and (max-width:647px){
    .profile-container{
      width: 80%;
      margin: 0 1vh;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background: white;
      padding: 30px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #e6e6e6;
  }
  
  .action-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 1px;
  }
  
  .action-buttons-block-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3vh;
  }
  
  .action-buttons button{
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 600;
    border-radius: 1vh;
    width: 18vh;
    height: 6vh;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .work-block{
    width: 100%;
    height: auto;
    margin: 0 1vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  }       
  
  @media only screen and (max-width:328px){
  
    .work-block-items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      padding: 10px;
      width: -webkit-fill-available;
      justify-items: start;
  }
  
  .work-item-placeholder{
    background-color: #fff;
    width: -webkit-fill-available;
    height: 30vh;
    border: 1px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    max-width: 15rem;
    min-width: 10rem;
  }
  
  }