






        <!-- ----------------------------------------   Profile page -------------------------------------------------->

<!-- Show a loading spinner or message while data is being fetched -->
 <!-- Loader Overlay -->
 <div class="loader-overlay" *ngIf="isLoading">
    <div class="loader-container">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
   </div>
  </div>
  
  <div class="profile-container">
      <!-- Profile Header -->
      <div class="profile-header">
        <img [src]="imageUrl"  alt="User Profile" class="profile-image" />
        
        <div class="user-profile-detail-block-1">
          <h1 class="username">{{ Firstname }}</h1>
          <p class="user-role">Full-Stack Developer</p>
          <p class="address">
            <i class="fa-solid fa-location-dot"></i> {{ Location }}
          </p>
        </div>
      </div>
    
      <!-- Action Buttons -->
      <div class="action-buttons">
        
        <div class="action-buttons-block-1">
  
          <button class="edit-btn" [routerLink]="['/user/account']">Edit profile</button>
          <button class="delete-btn" routerLink="/delete">Delete account</button>
        </div>
       
      </div>
    
  
    </div>
  
  
    <!---------------------------------------------------- Work -------------------------------------------->
  
    <section class="work-block">
  
      <div class="work-block-field-1">
        <button class="work-btn" > Work </button>
        <button class="collection-btn" > Collection </button>
      </div>
  
      <div class="work-block-field-2">
        <hr>
      </div>
  
      <div class="feed-container">

           <div *ngFor="let post of posts">

              <img
              [src]="post.imageUrl"
             
              
              style="margin-bottom: 1rem; width:100%; transform-style: preserve-3d; border-radius: 3vh;  ">

              </div>

        </div>
    </section>
  
    
  
  
  
   