<div class="otp-wrapper">
  <!-- Left Column: Image/Illustration -->
  <div class="otp-image">
    <img src="assets/Images/5243321.jpg" alt="Verification Illustration" />
  </div>

  <!-- Right Column: Form -->
  <div class="otp-form-container">
    <form [formGroup]="otpForm" (ngSubmit)="onVerify()">
      <h2>Verification Code</h2>

      <label class="otp-rsd-label" for="">
       
         <div class="resend-otp">
           <button 
           class="otp-rsd-btn"
              type="button" 
              (click)="resendOtp()" 
              [disabled]="countdown > 0">
              {{ countdown > 0 ? 'Resend OTP in ' + countdown + 's' : 'Resend OTP' }}
           </button>
</div>
      </label>

   <div class="otp-container" formGroupName="otp">

  <input #digit1 maxlength="1" formControlName="digit1" (input)="moveToNext($event, digit2)" (keydown)="moveToPrev($event, null)" />
  <input #digit2 maxlength="1" formControlName="digit2" (input)="moveToNext($event, digit3)" (keydown)="moveToPrev($event, digit1)" />
  <input #digit3 maxlength="1" formControlName="digit3" (input)="moveToNext($event, digit4)" (keydown)="moveToPrev($event, digit2)" />
  <input #digit4 maxlength="1" formControlName="digit4" (input)="moveToNext($event, digit5)" (keydown)="moveToPrev($event, digit3)" />
  <input #digit5 maxlength="1" formControlName="digit5" (input)="moveToNext($event, digit6)" (keydown)="moveToPrev($event, digit4)" />
  <input #digit6 maxlength="1" formControlName="digit6" (input)="moveToNext($event, null)" (keydown)="moveToPrev($event, digit5)" />
</div>

      <button type="submit" [disabled]="!otpForm.valid">VERIFY</button>
    </form>
  </div>
</div>
