





    <!-- ================================================  sign-up Form ===============================================-->


    <div class="container">
      
      <!--  <div class="video-container">
          <video playsinline autoplay loop muted class="auth-video">
            <source src="assets/Videos/loop-clip.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
  
          <div class="overlay-text">
            <img class="img-clip" src="assets/Images/name-clip-signup.png" alt="">
          </div>
        </div>  -->
          
        <div class="form-container">
            
          
            <div class="signup-form" *ngIf="!showEmailForm; else emailForm" >

              <div class="label-container">
                <label class="my-web-logo" for="">Portgenix</label>
              </div>
    
    
              <h2 class="signup-title">Sign Up</h2>

              <p class="term-policy-2" data-hide-on-signup-form="">
                Already have an account? 
                <a class="underline2" routerLink="/login">Sign In</a>
              </p>
    
              <div class="group-container">
                <div class="social-buttons">
  
                  <div class="social-btn-1">
                    <button class="google-btn">
    
    
                      <img class="google-img" src="assets/Images/G-logo.png" alt="Google" />
                      <h4 class="social-btn-name-g">Sign up with google</h4>
                    </button>
                  </div>
    
                  <!--<div class="social-btn-2">
                    <button class="facebook-btn">
                      
                      <img class="facebook-img" src="assets/Images/facebook1.png" alt="Facebook" />
                      <h4 class="social-btn-name-f">Sign up with facebook</h4>
                    
                    </button>
                  </div>-->

                </div>
      
                
                  <hr class="separator">
                
                
                
                <div class="signup-email-field">
                  <button (click)="showEmailSignup()" class="signup-email-btn">Continue with email</button>
                </div>
              </div>
                          
  
              <div class="private-policy-field-container">
                <p class="term-policy-1" data-hide-on-signup-form="">
                  By creating an account you agree with our
                  <a  class="underline1" href="">Terms of Service</a>,
                  <a  class="underline1" href="">Privacy Policy</a>, and our default
                  <a  class="underline1" href="">Notification Settings</a>.
                </p>
              </div>
  
              
            </div>
          </div>
  
  
  
  
  
  
          <!-- ================================================ Sign up form 2 ================================= -->
  
  
          
          <ng-template #emailForm>
  
            <div class="emailform-main-container" @slideInFromRight>

              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >
  
                <div class="form-container-2">
    
                  <div class="back-btn">
    
                    <button class="back-btn-this" type="button" (click)="cancel()">
                      <i class="fas fa-chevron-left"></i>
                    </button>
    
                  </div>
    
                        <div class="form-containt">
    
                            <h2 class="signup-title">Sign Up</h2>
            
                                <div class="form-field-group">
    
                                    <div class="form-field-group1">
                                          <!-- First Name Field -->
                                          <div class="form-field-group1-containt1">
                                              <label class="field-label-name" for="firstname">First Name:</label>
                                              <input
                                              type="text"
                                              id="firstname"
                                              formControlName="firstname"
                                              class="form-control-1"
                                              [ngClass]="{
                                              'is-invalid': signupForm.controls['firstname'].invalid && signupForm.controls['firstname'].touched,
                                              'is-valid': signupForm.controls['firstname'].valid && signupForm.controls['firstname'].touched
                                              }"
                                                />
                                              <div *ngIf="signupForm.controls['firstname'].invalid && signupForm.controls['firstname'].touched" class="invalid-feedback">
                                                  First Name is required.
                                              </div>
                                          </div>
           
                                                  <!-- Username Field -->
                                                <div class="form-field-group1-containt2">
                                                    <label class="field-label-name" for="username">Username:</label>                              
                                                      <input
                                                      type="text"
                                                      id="username"
                                                      formControlName="userName"
                                                      class="form-control-1"
                                                      autocomplete="new-password" 
                                                      
    
                                                      [ngClass]="{
                                                      'is-invalid': signupForm.controls['userName'].invalid && signupForm.controls['userName'].touched,
                                                      'is-valid': signupForm.controls['userName'].valid && signupForm.controls['userName'].touched
                                                       }"
                                                        />
                                                      <!-- Error Messages -->
                                                         <div *ngIf="signupForm.controls['userName'].touched && signupForm.controls['userName'].invalid" class="invalid-feedback">
                                                           <!-- Required Field Error -->
                                                           <div *ngIf="signupForm.controls['userName'].errors?.['required']">
                                                             Username is required.
                                                           </div>
                                                           <!-- Min Length Error -->
                                                           <div *ngIf="signupForm.controls['userName'].errors?.['minlength']">
                                                             Min length 4 characters.
                                                           </div>
                                                           <!-- Mix Length Error -->
                                                           <div *ngIf="signupForm.controls['userName'].errors?.['maxlength']">
                                                            Mix length 20 characters.
                                                          </div>
                                                          <!-- invalid username -->
                                                          <div *ngIf="signupForm.controls['userName'].errors?.['invalidCharacters']">
                                                            invalid username
                                                          </div>
    
                                                         </div>
                                                 </div>
                                       </div>
            
                    <!-- Email Field -->
                        <div class="form-field">
                          <div class="form-field-containt">
    
                            <label class="field-label-name" for="email">Email:</label>
                          <input
                            type="email"
                            id="email"
                            formControlName="email"
                            class="form-control-2"
                            [ngClass]="{
                              'is-invalid': signupForm.controls['email'].invalid && signupForm.controls['email'].touched,
                              'is-valid': signupForm.controls['email'].valid && signupForm.controls['email'].touched
                            }"
                          />
                          <div *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].invalid" class="invalid-feedback">
    
                          <div *ngIf="signupForm.get('email')?.errors?.['invalidEmail']">
                            Please enter a valid email address.
                          </div>
    
                          </div>
    
                          </div>
    
                        </div>
    
            
                    <!-- Password Field -->
                    <div class="form-field">
    
                      <div class="form-field-containt">
                        
                        <label class="field-label-name" for="password">Password:</label>
                           <input
                             type="password"
                             placeholder="6+ characters"
                             id="password"
                             formControlName="password"
                             class="form-control-2"
                             [ngClass]="{
                               'is-invalid': signupForm.controls['password'].invalid && signupForm.controls['password'].touched,
                               'is-valid': signupForm.controls['password'].valid && signupForm.controls['password'].touched
                             }"
                           />
                           <div *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched" class="invalid-feedback">
                             <div *ngIf="signupForm.controls['password'].errors?.['required']">
                               Password is required.
                             </div>
                             <div *ngIf="signupForm.controls['password'].errors?.['minlength']">
                               Password must be at least 6 characters long.
                             </div>
                             <div *ngIf="signupForm.controls['password'].errors?.['maxlength']">
                               Password cannot exceed 20 characters.
                             </div>
                              </div>
    
                         </div>
      
                    </div>
    
            
                    <!-- Terms Field -->
                      <div class="form-field check-wrap opt-in">
                        <fieldset class="term-container1">
                          <div class="checkbox">
                            <input
                            type="checkbox"
                            id="terms"
                            formControlName="terms"
                            [ngClass]="{
                              'is-invalid': signupForm.controls['terms'].invalid && signupForm.controls['terms'].touched,
                              'is-valid': signupForm.controls['terms'].valid && signupForm.controls['terms'].touched
                            }"
                          />
                          </div>
    
                          <label id="terms-1" for="terms">I agree with Portgenix
                            <a class="underline1" target="_blank" href="/terms">Terms of Service</a>,
                            <a class="underline1" target="_blank" href="/privacy">Privacy Policy</a>, and default
                            <a class="underline1" target="_blank" href="/notifications">Notification Settings</a>.
                          </label>
                        </fieldset>
    
                        <div *ngIf="signupForm.controls['terms'].invalid && signupForm.controls['terms'].touched" class="invalid-feedback">
                          You must agree to the terms.
                        </div>
                      </div>
    
    
                      <!-- Submit Button -->
                      <button [disabled]="signupForm.invalid" class="btn btn-primary"  type="submit" >Create account</button>
            
                    <p class="user-agree-to-terms2">
                      Already have an account? <a class="underline1" routerLink="/login">Sign In</a>
                    </p>
            
                    <p class="user-agree-to-terms3">
                      This site is protected by reCAPTCHA and the Google <a class="underline-hidden-terms">Privacy Policy</a> and
                      <a class="underline-hidden-terms">Terms of Service</a> apply.
                    </p>
    
                    </div>
    
                  </div>
                  
                </div>
    
              </form>


              <!-- Loader Overlay -->
            <div class="loader-overlay" *ngIf="isLoading">
             <div class="loader-container">
               <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
           </div>

            </div>
  
          </ng-template>
          
          
          
          
    
      </div>




      <!------------------------------------------------- pop up form -------------------------------------->



      <div class="modal fade" id="otp-Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <!-- Your Custom Form -->
        <div class="otp-form-container">
    <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
      <h2>Verification Code</h2>

      <label class="otp-rsd-label" for="">
       
         <div class="resend-otp">
           <button 
           class="otp-rsd-btn"
              type="button" 
              (click)="resendOtp()" 
              [disabled]="countdown > 0">
              {{ countdown > 0 ? 'Resend OTP in ' + countdown + 's' : 'Resend OTP' }}
           </button>
</div>
      </label>

   <div class="otp-container" formGroupName="otp">

    <div class="otp-digit-container">
       <input #digit1 maxlength="1" formControlName="digit1" (input)="moveToNext($event, digit2)" (keydown)="moveToPrev($event, null)" />
       <input #digit2 maxlength="1" formControlName="digit2" (input)="moveToNext($event, digit3)" (keydown)="moveToPrev($event, digit1)" />
       <input #digit3 maxlength="1" formControlName="digit3" (input)="moveToNext($event, digit4)" (keydown)="moveToPrev($event, digit2)" />
       <input #digit4 maxlength="1" formControlName="digit4" (input)="moveToNext($event, digit5)" (keydown)="moveToPrev($event, digit3)" />
       <input #digit5 maxlength="1" formControlName="digit5" (input)="moveToNext($event, digit6)" (keydown)="moveToPrev($event, digit4)" />
       <input #digit6 maxlength="1" formControlName="digit6" (input)="moveToNext($event, null)" (keydown)="moveToPrev($event, digit5)" />
    </div>

 
   </div>

      <button class="otp-submit-btn" id="hide-modal" type="submit" [disabled]="!otpForm.valid">VERIFY</button>

    </form>
  </div>
  
      </div>
    </div>
  </div>


