

          <!-- ====================================  Login form ==========================================--->




  <div class="container-2">
      
          
        <div class="form-container">
            
          
           <form class="signin-form-field" [formGroup]="form">
    
            <div class="signin-form" >

              <div class="label-container">
                <label class="my-web-logo" for="">Portgenix</label>
              </div>
    
              <h2 class="signin-title">Log In </h2>

              <p class="term-policy-2" >
                Don't have an account? 
                <a class="underline2" routerLink="/sign-up">Sign up</a>
              </p>
              
              <div class="field-container">
                <div class="oauth-field">
                 
                  <div class="container social-buttons" >
                    <div class="row justify-content-center">
                      <div  id="google" class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
                        <button class="btn google-btn d-flex align-items-center justify-content-center">
                          <img class="google-img" src="assets/Images/G-logo.png" alt="Google" />
                          <h4 class="social-btn-name-g mb-0">Sign in with Google</h4>
                        </button>
                      </div>
                  
                     
                    </div>
                  </div>
                  </div>
        
                  <hr class="separator">
        
                  <div class="email-auth-field">
                    <div class="form-field">
                      <label class="hidden-form-label" for="email">Username or Email:</label>
                      <input class="form-email" type="email" id="email" name="email" formControlName="inputField1" required />
                    </div>
          
          
                    <div class="form-field">
                     <label class="hidden-form-label" for="password">Password:</label>
                     <input class="form-password" type="password" id="password" name="password" formControlName="inputField2" required />
                    </div>
          
                    <div class="form-field check-wrap opt-in">
                      <fieldset class="term-container1">
          
                          <a class="underline1" target="_blank" href="/forget-password">Forgot?</a>
          
                      </fieldset>
                    </div>
                      
                    <button class="signin-email-btn"  [disabled]="form.get('inputField2')?.invalid " (click)="onSubmit()" >
                      <h1 class="signin-email-btn-this">Continue with email</h1>
                    </button>
                  </div>
              </div>
    
                        
    
             

              <div class="private-policy-field">
                <p class="user-agree-to-terms3">
                  This site is protected by reCAPTCHA and the Google <a class="underline-hidden-terms">Privacy Policy</a> and
                  <a class="underline-hidden-terms">Terms of Service</a> apply.
                </p>
              </div>
            </div>
           </form>
    
           <!-- Loader Overlay -->
            <div class="loader-overlay" *ngIf="isLoading">
             <div class="loader-container">
               <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
           </div>
    
    
          </div>
    
    </div>