<div class="main-container">
    



<!-- ----------------------search block --------------------->






                    <div class="search-field">
                
                          <form action="" class="search-form">
              
                              <div class="search-container">
                                  <div class="input-wrapper" style="position: relative;">
                                      <input #searchInput type="text" aria-invalid="false" name="search-input" placeholder="Search for anything" autocomplete="off" [(ngModel)]="searchKeyword" (ngModelChange)="onInputChange()" value="" role="combobox" 
                                      aria-autocomplete="both" aria-haspopup="true" aria-expanded="false" 
                                      aria-controls="u93-search-form-autocomplete--4-menu-content-items"  
                                      class="search-input" style="padding-right: 90px;" (input)="onSearchChange()">
  
                                      <button type="button" class="clear-button btn-2" onclick="document.querySelector('.search-input').value = ''"  *ngIf="searchKeyword" (click)="clearSearch()" >
                                          <i class="fas fa-times"></i> <!-- Font Awesome Clear Icon -->
                                      </button>
                                      <button class="search-button btn-1"  (click)="goToSearch()" >
                                        <i class="fas fa-search"></i> <!-- Font Awesome Search Icon -->
                                    </button>

                                    
                                  </div>

                                  
                              </div>


                             <div class="suggestion-box"  *ngIf="suggestions.length > 0">
                              
                              <div class="suggestion-container">
                                <div class="suggestion-item" *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">

                                    <i class="bi bi-search"></i>

                                      {{suggestion}}

                              </div>
                              </div>

                            </div>


                              
                          </form>

                          
  
                          
                    </div>




<!--------------------------------------- Feed block ---------------------------------->



<section class="work-block">

        <div class="work-block-field-1">
          <div class="work-block-field-1-suggestion-list-1">
            <button class="popular-btn" > Popular </button>
          </div>
          
          <div class="slider-container">
            <button class="slider-btn prev-btn" (click)="scrollLeft()">&#10094;</button>
          
            <div class="slider-wrapper">
              <div class="slider">
                <button class="collection-list-btn">Discover</button>
                <button class="collection-list-btn" *ngFor="let item of sliderSuggestions">{{ item }}</button>
              </div>
            </div>
          
            <button class="slider-btn next-btn" (click)="scrollRight()">&#10095;</button>
          </div>
          
        </div>
    
        
    
        <div class="feed-container">

           <div class="pin-card" *ngFor="let post of posts">

              <img
              [src]="post?.imageUrl"
              style=" width:100%; transform-style: preserve-3d; border-radius: 3vh;  "
              (click)="postView(post?.id)">

              <!-- Overlay -->
              <div class="pin-overlay">

                      <!-- Top -->
                      <div class="top-actions">

                            <button class="save-btn">
                            Save
                            </button>

                      </div>

                    <!-- Bottom -->
                  <div class="bottom-actions">

                    <button class="icon-btn">
                        <i class="bi bi-upload"></i>
                    </button>

                     <button class="icon-btn"  (click)="toggleMoreMenu(post?.id)">
                        <i class="bi bi-three-dots"></i>
                      </button>

                  </div>


              </div>


              <div class="moreActions-container" *ngIf="openedMenuPostId === post?.id">
  

                    <div class="more-block-1">

                      <label>
                        This post was inspired by your recent activity
                      </label>

                    </div>

                    <div class="more-block-2">

                      <button> 

                        <i class="bi bi-heart"></i>
                        See more like this
                      </button>

                      <button>
                        <i class="bi bi-eye-slash"></i>
                        See less like this
                      </button>

                      <button>
                        <i class="bi bi-download"></i>
                        Download image
                      </button>

                      <button>
                        <i class="bi bi-ban"></i>
                        Report post
                      </button>

                    </div>

              </div>


            </div>

        </div>

      </section>



</div>