  
     


            /* =================================== Start Css of Header ==========================================*/

/* Initially hide the header */
app-header {
    position: fixed;
    top: -100px; /* Initially hide the header off-screen */
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
    z-index: 1000;
    transition: top 0.3s ease; /* Smooth transition */
  }
  
  /* When the header becomes visible after scrolling */
  app-header.visible {
    top: 0; /* Position the header at the top of the page */
  }
  
  .container {
    /*max-width: 1440px;
    margin: 0 auto;
    padding: 0 0px;*/
    max-width: 1440px;
      margin: 0;
      padding: 0 0px;
      display: contents;
  
    }
         
  
      /* ============================================== End of Header =================================================== */
    
  
  
  
  .hr-form{
    box-shadow: 0 4px 6px rgba(1, 2, 1, 0.2); /* Add a shadow below the line */
  }
  
      /* =========================================== Css of Get Started Block ============================================= */
  
  /* General styles */
  
  
  .get-start {
    width: 100%;
    overflow: hidden;
    background: white;
    align-items: center;
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }
  
  
  .get-start-containt{
    display: flex;
      flex-direction: column;
      gap: 50px;
  
  }
  
  .get-labels-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px; /* Add padding for better responsiveness */
    box-sizing: border-box; /* Ensure padding doesn't overflow the container */
  }
  
  #quote1 {
    font-size: 4vw; /* Scale font size based on viewport width */
    max-width: 60%; /* Allow it to shrink within 90% of the container */
    padding: 20px; /* Add some inner spacing */
    font: 400 4vw/1.2 serif; /* Responsive font and line-height */
    margin: 0 0 20px;
    word-wrap: break-word; /* Break long words */
  }
  
  .quote2 {
    font-size: 1.3rem; /* Responsive font size */
    font-family: sans-serif; 
    line-height: 1.5; /* Set line height for better readability */
    max-width: 38%; /* Limit width for smaller screens */
    margin: 0 auto; /* Center align on smaller screens */
    text-align: center;
  }
  
  .start-btn-form{
    display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .start-btn {
    width: 170px;
      height: 59px;
      border-radius: 100px;
      background: linear-gradient(45deg, black, transparent);
      font-size: 20px;
      border: none;
      font-family: inherit;
      font-weight: lighter;
      color: white;
  }
  
  .start-btn:hover {
    background-color:  hsl(216, 100%, 54%);
  }
  
  #arrow-svg {
    margin-left: 10px;
    color: white;
  }
  
  .search-field{
    display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4vh;
  }
  /* Search Form */
  .search-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  
  /* Search Container */
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  
  /* Search Input */
  .search-input {
    padding: 17px 16px;
    font-size: 16px;
    width: 43rem;
    border-radius: 2rem;
    border-width: 1px;
    background: #0000000f;
    border: none;
    transition: width 0.3s ease-in-out; /* Smooth transition */
  }
  
  .search-input:focus {
    outline: none;
  }
  
  /* Search Button */
  .search-button {
    color: white;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
  }
  
  /* Clear Button */
  .clear-button {
    position: absolute;
    right: 11%;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 1rem;
    background: #00000073;
  }
  
  .clear-button:disabled {
    background-color: #0000000f;
    cursor: not-allowed;
  }
  
  .fa-search {
    color: black;
    font-size: 17px;
  }
  
  .fa-times {
    color: white;
    font-size: 2vh;
  }
  
  
  
  
  /* ------------------------------------------- template block ---------------------------------------*/ 
  
  .work-block{
    width: -webkit-fill-available;
    height: auto;
    margin: 9vh 10vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 4vh;
  
  }
  
  .work-block-field-1{
    display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .work-block-field-1-suggestion-list-1{
  
  }
  
  .work-block-field-1-suggestion-list-2{
    display: flex;
    flex-direction: row;
    gap: 3vh;
  }
  
  .popular-btn{
  
    border: 1px solid #00000047;
      width: 15vh;
      height: 5vh;
      border-radius: 1vh;
      background-color: white;
      font-family: system-ui;
      font-size: 17px;
      font-weight: 640;
      text-align: center;
      transition: all 0.60s ease;
  
  }
  
  .popular-btn:hover{
    background-color: rgba(0, 0, 0, 0.095);
  }
  .discover-btn{
    border: none;
      width: 12vh;
      height: 5vh;
      border-radius: 3vh;
      background-color: #f5f5dccc;
      font-family: system-ui;
      font-size: 17px;
      font-weight: 640;
      text-align: center;
      transition: all 0.5s ease;
  }
  
  .collection-list-btn{
    border: none;
      width: 18vh;
      height: 5vh;
      border-radius: 1vh;
      background-color: white;
      font-family: system-ui;
      font-size: 17px;
      font-weight: 640;
      text-align: center;
  }
  
  .collection-list-btn:hover{
      color: rgba(0, 0, 0, 0.388);
  }
  .work-btn:hover{
    background-color: #00000024;
  
  }
  
  .collection-btn:hover{
    background-color: #00000024;
  }
  
  
  .slider-container {
    display: flex;
      align-items: center;
      overflow: hidden;
      position: sticky;
      width: 100%;
      max-width: 1440px;
      margin: auto;
      justify-content: center;
  }
  
  /* Navigation buttons */
  .slider-btn {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  /* Wrapper to enable scrolling for the slider */
  .slider-wrapper {
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling for buttons */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    width: calc(100% - 80px); /* Adjust for buttons */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .slider-wrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
  }
  
  /* The slider itself */
  .slider {
    display: flex;
    gap: 10px; /* Spacing between items */
    width: max-content; /* Ensure it shrinks to content size */
  }
  
  
  
  .work-block-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
  }
  
  .work-item-placeholder {
    background-color: rgb(0 0 0 / 2%);
      width: -webkit-fill-available;
      height: 13rem;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      position: relative;
      overflow: hidden;
    }
  
    .work-item-placeholder::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(to top, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 10%) 100%);
      pointer-events: none;
    }
  
  .placeholder-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .placeholder-description {
    font-size: 14px;
    color: #666;
  }
    
    
  
  
  
  
                  /* =========================================== Css of Advertise Block ============================================= */
  
  
  
  
  .advertise{
  
    display: flex;
      flex-direction: column;
      text-align: center;
      background: rgb(3, 89, 70);
      margin-top: 1rem;
  
  }
  
  .adv-content1{
    font-size: 60px;
      font-weight: 600;
      line-height: 4rem;
      padding-top: 7rem;
      font-family: sans-serif;
      color: white;
    
  }
  
  .adv-content2{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto 3rem;
    max-width: 680px;
    padding-top: 5vh;
  }
  
  .adv-btn-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 6rem;
  }
  
  .adv-btn{
    width: 14rem;
      height: 54px;
      border-radius: 10rem;
      color: rgb(3, 89, 70);
      font-size: 20px;
      border: none;
      font-family: system-ui;
      background: white;
      font-weight: 380;
  }
  
  
  
  
  
  
    
  /* -----------------------------------------------Responsive styles laptop--------------------------------------------- */
  
  
  
  
  
  
  @media only screen and  (max-width: 1203px) {

      .get-start{
        margin-top: 0;
      }
  
  
              /*-----------------------------------------------Get  started --------------------------------------------- */
  
  
  #quote1 {
    font-size: 4vw; /* Scale font size based on viewport width */
    max-width: 80%; /* Allow it to shrink within 90% of the container */
    padding: 20px; /* Add some inner spacing */
    font: 400 5vw/1.2 serif; /* Responsive font and line-height */
    margin: 0 0 20px;
    word-wrap: break-word; /* Break long words */
  }
  
  .quote2 {
    font-size: 1.2rem; /* Responsive font size */
    font-family: sans-serif;
    line-height: 1.5; /* Set line height for better readability */
    max-width: 49%; /* Limit width for smaller screens */
    margin: 0 auto; /* Center align on smaller screens */
    text-align: center;
  }
  
  .suggestion-field{
    display: flex;
       flex-direction: row;
       gap: 1px;
       padding: 16px;
       box-sizing: border-box;
       width: 94%;
       justify-content: center;
   
   }
   
   
   .suggestion{
     display: flex;
     flex-wrap: wrap; /* Allow wrapping of items */
     gap: 8px;
     justify-content: center; /* Center-align buttons */
     width: 73%;
   }
   
   .suggestion-tag{
       font-size: 1rem;
       color: #0000007d;
       font-family: system-ui;
       margin-bottom: 0;
       padding-top: 3px;
       width: 9%;
   }
  
   .suggestion-btn{
    font-family: math;
    font-weight: 300;
   }
   
             
  
  }
  
  @media (max-width: 1020px){
  
  
    .quote2 {
      font-size: 1.2rem; /* Responsive font size */
      font-family: sans-serif;
      line-height: 1.5; /* Set line height for better readability */
      max-width: 58%; /* Limit width for smaller screens */
      margin: 0 auto; /* Center align on smaller screens */
      text-align: center;
    }
  
  }
  
  
  @media only screen and  (max-width: 992px){
  
    #quote1 {
      font-size: 4vw; /* Scale font size based on viewport width */
      max-width: 100%; /* Allow it to shrink within 90% of the container */
      padding: 20px; /* Add some inner spacing */
      font: 400 6vw/1.2 serif; /* Responsive font and line-height */
      margin: 0 0 20px;
      word-wrap: break-word; /* Break long words */
    }
    
    .quote2 {
      font-size: 1.1rem; /* Responsive font size */
      font-family: sans-serif;
      line-height: 1.5; /* Set line height for better readability */
      max-width: 58%; /* Limit width for smaller screens */
      margin: 0 auto; /* Center align on smaller screens */
      text-align: center;
    }
    
    .suggestion-field{
      display: flex;
          flex-direction: column;
          align-items: center;
          gap: 6px;
          padding: 16px;
          box-sizing: border-box;
          width: 94%;
     
     }
     
     
     .suggestion{
       display: flex;
       flex-wrap: wrap; /* Allow wrapping of items */
       gap: 8px;
       justify-content: center; /* Center-align buttons */
       width: 63%;
     }
     
     .suggestion-tag{
         font-size: 1rem;
         color: #0000007d;
         font-family: system-ui;
         margin-bottom: 0;
         padding-top: 3px;
         width: 9%;
     }
  
     .suggestion-btn{
      font-family: math;
    font-weight: 300;
     }
  
  
  }
  
  @media(max-width: 868px){
  
  
    #quote1 {
      font-size: 4vw; /* Scale font size based on viewport width */
      max-width: 100%; /* Allow it to shrink within 90% of the container */
      padding: 20px; /* Add some inner spacing */
      font: 400 6vw/1.2 serif; /* Responsive font and line-height */
      margin: 0 0 20px;
      word-wrap: break-word; /* Break long words */
    }
    .quote2 {
      font-size: 1.1rem; /* Responsive font size */
      font-family: sans-serif;
      line-height: 1.5; /* Set line height for better readability */
      max-width: 58%; /* Limit width for smaller screens */
      margin: 0 auto; /* Center align on smaller screens */
      text-align: center;
    }
  }
  
  @media only screen and  (max-width: 831px){
  
    #quote1 {
      font-size: 4vw; /* Scale font size based on viewport width */
      max-width: 100%; /* Allow it to shrink within 90% of the container */
      padding: 20px; /* Add some inner spacing */
      font: 400 6vw/1.2 serif; /* Responsive font and line-height */
      margin: 0 0 20px;
      word-wrap: break-word; /* Break long words */
    }
    
    .quote2 {
      font-size: 1.2rem; /* Responsive font size */
      font-family: sans-serif;
      line-height: 1.5; /* Set line height for better readability */
      max-width: 68%; /* Limit width for smaller screens */
      margin: 0 auto; /* Center align on smaller screens */
      text-align: center;
    }
    
    .suggestion-field{
      display: flex;
          flex-direction: column;
          align-items: center;
          gap: 6px;
          padding: 16px;
          box-sizing: border-box;
          width: 94%;
     
     }
     
     
     .suggestion{
       display: flex;
       flex-wrap: wrap; /* Allow wrapping of items */
       gap: 8px;
       justify-content: center; /* Center-align buttons */
       width: 63%;
     }
     
     .suggestion-tag{
         font-size: 1rem;
         color: #0000007d;
         font-family: system-ui;
         margin-bottom: 0;
         padding-top: 3px;
         width: 14%;
         text-align: center;
     }
  
     .suggestion-btn{
      font-family: math;
    font-weight: 300;
     }
  
  
  }
  
  @media only screen and  (max-width: 768px){
  
    .user-login-field{
      display: flex;
      flex-direction: row;
      
    }
    .user-login-field-content{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1vh;
    }
  
    
    
    
    .fav i {
      font-size: 4vh;
        color: #00000087;
    }
    
    .fav i:hover{
      color: #0000003d;
    }
    
    .msg i{
      font-size: 4vh;
        color: #00000087;
    }
    
    .msg i:hover{
      color: #0000003d;
    }
    .pro-btn{
      width:0px;
        height:0px;
        border-radius: 0px;
        color: #fff;
        border: none;
        font-family: system-ui;
        font-weight: 700;
        text-align: center;
        background: linear-gradient(45deg, #0088fd 0%, #003bff 50%, #001faa 100%);
  
        display: none;
    }
    
    .profileimg{
      height: 50px;
        width: 50px;
    }
  
  }
  @media only screen and  (max-width: 748px){
  
    #quote1 {
      font-size: 4vw; /* Scale font size based on viewport width */
      max-width: 100%; /* Allow it to shrink within 90% of the container */
      padding: 20px; /* Add some inner spacing */
      font: 400 6vw/1.2 serif; /* Responsive font and line-height */
      margin: 0 0 20px;
      word-wrap: break-word; /* Break long words */
    }
  
    .quote2 {
      font-size: 1.2rem; /* Responsive font size */
      font-family: sans-serif;
      line-height: 1.5; /* Set line height for better readability */
      max-width: 78%; /* Limit width for smaller screens */
      margin: 0 auto; /* Center align on smaller screens */
      text-align: center;
    }
  
  }
  /* Responsive Adjustments for Smaller Screens */
  @media only screen and  (max-width: 715px) {
  
    .header-containt{
      display: flex;
      
      
    }
    .signup-btn1{
      visibility: hidden;
    }
    .login-btn1{
      padding-top: 0;
    }
    .login-btn2{
  
      background: black;
      color: white;
      border: none;
    }
  
    
  
    
    .get-start-containt{
      display: flex;
        flex-direction: column;
        gap: 20px;
    
    }
    
    #quote1 {
      font-size: 4vw; /* Scale font size based on viewport width */
      max-width: 100%; /* Allow it to shrink within 90% of the container */
      padding: 20px; /* Add some inner spacing */
      font: 400 6vw/1.2 serif; /* Responsive font and line-height */
      margin: 0 0 0px;
      word-wrap: break-word; /* Break long words */
    }
    
    .quote2 {
      font-size: 1.2rem; /* Responsive font size */
      font-family: sans-serif;
      line-height: 1.5; /* Set line height for better readability */
      max-width: 77%; /* Limit width for smaller screens */
      margin: 0 auto; /* Center align on smaller screens */
      text-align: center;
    }
  
    .search-field{
      display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
  
    /* Search Input */
    .search-input {
      padding: 17px 16px;
      font-size: 16px;
      width: 35rem;
      border-radius: 2rem;
      border-width: 1px;
      background: #0000000f;
      border: none;
      transition: width 0.3s ease-in-out; /* Smooth transition */
    }
  
  
    .suggestion-field{
      display: flex;
      flex-direction: column;
      gap: 1px;
      padding: 16px;
      box-sizing: border-box;
      width: 94%;
      align-items: center;
    }
    .suggestion-tag {
      font-size: 1.1rem;
          margin-bottom: 8px;
          width: 19%;
          text-align: center;
    }
  
    .suggestion {
      gap: 12px;
      width: 90%;
    }
  
    .suggestion-btn {
      font-size: 0.8rem; /* Slightly smaller font size */
      font-family: math;
    font-weight: 300;
    }
    
  }
  
  @media only screen and  (max-width: 696px){
  
    #quote1 {
      font-size: 4vw; /* Scale font size based on viewport width */
      max-width: 100%; /* Allow it to shrink within 90% of the container */
      padding: 15px; /* Add some inner spacing */
      font: 400 6vw/1.2 serif; /* Responsive font and line-height */
      margin: 0 0 0px;
      word-wrap: break-word; /* Break long words */
    }
    .quote2 {
      font-size: 1.1rem; /* Responsive font size */
      font-family: sans-serif;
      line-height: 1.5; /* Set line height for better readability */
      max-width: 91%; /* Limit width for smaller screens */
      margin: 0 auto; /* Center align on smaller screens */
      text-align: center;
    }
  }
  
  
  
  
  
  
  @media only screen and  (max-width: 589px){
  
    .get-start-containt{
      display: flex;
        flex-direction: column;
        gap: 20px;
    
    }
    
  
    #quote1 {
      max-width: 100%; /* Allow it to shrink within 90% of the container */
      padding: 13px; /* Add some inner spacing */
      font: 549 37px/1.2 serif; /* Responsive font and line-height */
      margin: 0 0 0px;
      word-wrap: break-word; /* Break long words */
    }
    
    .quote2 {
      font-size: 1.0rem; /* Responsive font size */
      font-family: sans-serif;
      line-height: 1.5; /* Set line height for better readability */
      max-width: 98%; /* Limit width for smaller screens */
      margin: 0 auto; /* Center align on smaller screens */
      text-align: center;
    }
  
    .search-field{
      display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
    /* Search Form */
    .search-form {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }
    
    /* Search Container */
    .search-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    
    /* Search Input */
    .search-input {
      padding: 17px 16px;
      font-size: 16px;
      width: 29rem;
      border-radius: 2rem;
      border-width: 1px;
      background: #0000000f;
      border: none;
      transition: width 0.3s ease-in-out; /* Smooth transition */
    }
    
    .search-input:focus {
      outline: none;
    }
    
    /* Search Button */
    .search-button {
      color: white;
      cursor: pointer;
      position: absolute;
      right: 2%;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
    }
    
   
  
  }
  
  @media only screen and  (max-width: 530px){
  
  
    .circle-image{
      width: 11rem;
      height: 30px;
      object-fit: cover
    }
  
    .signup-btn1 {
      padding-top: 0;
      padding-left: 0;
    }
  
    .login-btn1{
      padding-top: 0;
      align-content: center;
      padding-left: 0;
    }
  
    .login-btn2{
      width: 6rem;
      height: 7vh;
     
    }
  }
  
  @media only screen and (max-width: 491px) {
  
    .login-btn2{
      width: 14vh;
      height: 6vh;
      font-size: 18px;
  }
  
   
    .get-start-containt{
      display: flex;
        flex-direction: column;
        gap: 30px;
    
    }
  
    .get-labels-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 13px; /* Add padding for better responsiveness */
      box-sizing: border-box; /* Ensure padding doesn't overflow the container */
    }
    
    
  
    #quote1 {
      max-width: 100%; /* Allow it to shrink within 90% of the container */
      padding: 13px; /* Add some inner spacing */
      font: 549 38px/1.2 serif; /* Responsive font and line-height */
      margin: 0 0 0px;
      word-wrap: break-word; /* Break long words */
    }
    
    .quote2 {
      font-size: 1.0rem; /* Responsive font size */
      font-family: sans-serif;
      line-height: 1.5; /* Set line height for better readability */
      max-width: 98%; /* Limit width for smaller screens */
      margin: 0 auto; /* Center align on smaller screens */
      text-align: center;
    }
  
    .search-field{
      display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
    /* Search Form */
    .search-form {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }
    
    /* Search Container */
    .search-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    
    /* Search Input */
    .search-input {
      padding: 17px 16px;
      font-size: 16px;
      width: 29rem;
      border-radius: 2rem;
      border-width: 1px;
      background: #0000000f;
      border: none;
      transition: width 0.3s ease-in-out; /* Smooth transition */
    }
    
    
   
  }
  
  @media only screen and (max-width:471px){
  
    .header{
      padding-left: 1vh;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  
    .sidebar-field{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1vh;
  }
    .circle-image{
      width: 10rem;
      height: 30px;
      object-fit: cover
    }
  
    .signup-btn1 {
      padding-top: 0;
      padding-left: 0;
    }
  
    .signup-btn2{
      width: 0;
     
  }
  
    .login-btn1{
      padding-top: 0;
      align-content: center;
      padding-left: 0;
    }
  
    .login-btn2{
      width: 14vh;
      height: 6vh;
      
    }  
  
  
    #quote1{
      max-width: 100%;
      padding: 3px;
      font: 500 39px / 1.2 sarif;
      margin: 0 0 0px;
      word-wrap: break-word;
    }
  
    .quote2{
      font-size: 15px;
      font-family: sans-serif;
      line-height: 1.5;
      max-width: 100%;
      margin: 2vh;
      text-align: center;
  }
  
  
    /* Search Input */
    .search-input {
      padding: 17px 16px;
      font-size: 16px;
      width: 24rem;
      border-radius: 2rem;
      border-width: 1px;
      background: #0000000f;
      border: none;
      transition: width 0.3s ease-in-out; /* Smooth transition */
    }
    
   
  }
  
  @media only screen and (max-width:425px){
  
    .profileimg {
      height: 6vh;
      width: 6vh;
  }
  .login-btn2{
    width: 14vh;
    height: 6vh;
  }
  
  }
  
  
  @media only screen and (max-width:392px){
    .header {
      padding-left: 1vh;
      padding-right: 1vh;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  
    .login-btn2{
      width: 14vh;
      height: 6vh;
  }
  
    .sidebar-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.1vh;
    }
  
    .circle-image{
      width: 10rem;
      height: 30px;
      object-fit: cover;
    }
  
    .signup-btn1 {
      padding-top: 0;
      padding-left: 0;
      width: 0;
    }
  
    .search-input {
      padding: 17px 16px;
      font-size: 16px;
      width: 21rem;
      border-radius: 2rem;
      border-width: 1px;
      background: #0000000f;
      border: none;
      transition: width 0.3s ease-in-out; /* Smooth transition */
    }
  }
  
  @media only screen and (max-width:375px){
  
  
    #quote1{
      max-width: 100%;
      padding: 3px;
      font: 500 43px / 1.2 sarif;
      margin: 0 0 0px;
      word-wrap: break-word;
    }
  
    .quote2 {
      font-size: 15px;
      font-family: sans-serif;
      line-height: 1.5;
      max-width: 100%;
      margin: 2vh;
      text-align: center;
    }
  
    /* Search Input */
    .search-input {
      padding: 17px 16px;
      font-size: 16px;
      width: 21rem;
      border-radius: 2rem;
      border-width: 1px;
      background: #0000000f;
      border: none;
      transition: width 0.3s ease-in-out; /* Smooth transition */
  
    }
  
    .user-login-field-group1{
      display: flex;
      flex-direction: row;
      gap: 0vh;
    }
  
    .msg i{
      font-size: 0vh;
      color: #00000087;
      display: none;
    }
  
  
  
  }
  
  @media only screen and (max-width:331px){
  
    .adv-content1{
      font-size: 60px;
      font-weight: 600;
      line-height: 9vh;
      padding-top: 7rem;
      font-family: sans-serif;
      color: white;
  }
  
  
  }
  
  @media only screen and (max-width:346px){
  
    /* Search Input */
  .search-input {
   padding: 17px 16px;
   font-size: 16px;
   width: 19rem;
   border-radius: 2rem;
   border-width: 1px;
   background: #0000000f;
   border: none;
   transition: width 0.3s ease-in-out; /* Smooth transition */
   }
  
   .user-login-field-group2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
  }
  
  
  }
  
  
  
  
                        /*----------------------------------------- list of template  ----------------*/
  
  @media only screen and (max-width:699px){
  
  .work-block-field-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 4vh;
  }
  
  .work-block {
    width: -webkit-fill-available;
    height: auto;
    margin: 9vh 3vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 4vh;
  }
  
  }
  
  @media only screen and (max-width:357px){
  
  .work-block-items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      padding: 10px;
      justify-items: center;
  }
  
  .work-item-placeholder{
    background-color: #fff;
    width: 16rem;
    height: 13rem;
    border: 1px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  }
  
  @media only screen and (max-width:425px){
    .collection-list-btn{
      border: none;
      width: 18vh;
      height: 5vh;
      border-radius: 1vh;
      background-color: white;
      font-family: system-ui;
      font-size: 17px;
      font-weight: 640;
      text-align: center;
  
  
  }
  
  .collection-list-btn:hover{
    border: none;
    width: 18vh;
    height: 5vh;
    border-radius: 1vh;
    background-color: white;
    font-family: system-ui;
    font-size: 17px;
    font-weight: 640;
    text-align: center;
  }
  } 
  
  @media only screen and (max-width:320px){
    .work-block-items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      padding: 10px;
      justify-items: flex-start;
  }
  }